body {
    font-family: "Lucida Console", "Courier New", monospace;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(90deg, #B9C9FF, #FFFFFF);



}
input[type="date"] {
    padding: 10px;
    font-size: 16px;
    color: crimson;
    border-radius: 10px;
}
#result {
    font-size: 20px;
    margin-top: 20px;
}

h1 {
    color: blueviolet;
}

label {
    color: brown;
}

button {
    margin-top: 10px;
    border-radius: 10px;
    color: darkmagenta;
}
